<!DOCTYPE html>
<html>

<head>
  <title>Zenzo Eternal | Live Action PVP Arena</title>
  <link rel="stylesheet" href="nodemmo.css" />
  <link href="https://fonts.googleapis.com/css?family=VT323&amp;subset=latin-ext,vietnamese" rel="stylesheet">
  <link rel="icon" href="https://zenzo.io/wp-content/uploads/2018/08/cropped-ZENZO.io-Favicon-32x32-01-32x32.png" sizes="32x32" />
  <link rel="icon" href="https://zenzo.io/wp-content/uploads/2018/08/cropped-ZENZO.io-Favicon-32x32-01-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="https://zenzo.io/wp-content/uploads/2018/08/cropped-ZENZO.io-Favicon-32x32-01-180x180.png" />
  <meta name="msapplication-TileImage" content="https://zenzo.io/wp-content/uploads/2018/08/cropped-ZENZO.io-Favicon-32x32-01-270x270.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<body class="fade-in">
  <div id="logo"><img src="logo.png"></div><br>